In [1]:
# created tuple tup1 -> (10, 20, 30) and tup2 -> (40, 50, 60)
tup1 = (10, 20, 30)
tup2 = (40, 50, 60)

In [2]:
# a.Concatenate both tuples in t_combine
t_combine = tup1+tup2

In [3]:
print(t_combine)

In [4]:
# b.Repeat the elements t_combine in 3 times
print(t_combine*3)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [5]:
# c. Access the third element of t_combine
print(t_combine[2])

30

In [6]:
# d. Access the first three element of t_combine
print(t_combine[:3])

(10, 20, 30)

In [7]:
# e. Access the last three element of t_combine
print(t_combine[-3:])

(40, 50, 60)

In [8]:
# 2. Create a list 'mylist' with thses elements
# a-> first element with a tuple 1,2,3
# b-> Second element with a tuple "a","b", "c"
# c-> Third element with a tuple True, False

mylist = [(1,2,3),("a","b","c"),(True, False)]
print(mylist)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [9]:
# 3. Append a new tuple - (1, 'a', True) to 'mylist'
# a-> Append a new list- ["sparta", 123] to mylist
new_tuple = (1, 'a', True)
mylist.append((1, 'a',True))
mylist

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [10]:
mylist.append("sparta")
mylist.append(123)

In [11]:
# 4. Create a dictionary 'fruit' where:
# a-> The first key is 'fruit' and values are ("apple","banana","mangos","guava" )
# b-> The Second key is 'cost' and values are (85, 54, 120, 70)
# c-> Extract all the keys from 'fruit'
# d-> Extract all the values from 'fruit'
fruit = {'fruit':["apple", "banana", "mangos", "guava"], 'cost':[85, 54, 120, 70]}

In [13]:
fruit.keys()

dict_keys(['fruit', 'cost'])

In [14]:
fruit.values()

dict_values([['apple', 'banana', 'mangos', 'guava'], [85, 54, 120, 70]])

In [15]:
# 5.  Create a set named 'my_set' with values (1, 1, "a", "a", True, True) and print the result
my_set = {1, 1, "a", "a", True, True}
print(my_set)

{1, 'a'}